body{
background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#container{
	width: 360px ;
	background: #f7f7f7;
	margin: 100px auto ;
	/*padding left: 20px;
	padding right: 20px;
	padding : 20px;*/
	box-shadow: 003px rgba(0,0,0, 0.1);
}
h1{
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding : 10px 20px;
	font-family: roboto;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
}
.completed{
	color: pink;
	text-decoration: line-through;
}
.fa-plus{
	float: right;
}


li:hover span {
	width: 40px;
	opacity: 2;
}
span{
	background-color: #e74c3c;
	width: 0;
	margin-right: 40px;
	text-align: center;
	color: white;
	height: 40px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

input{
		background: #f7f7f7;
		font-size: 18px;
		width: 100%;
		padding: 13px 13px 13px 20px ;
		box-sizing: border-box;
		color: #2980b9;
		border:3px solid rgba(0,0,0,0); 



}
input:focus{
	border:3px solid  #2980b9 ;
	background-color: white;
	outline:none;
}
li{
	background:#fff;
	height: 40px;
	height: 40px;
			line-height: 40px;
			color: #666;
			
}
li:nth-child(2n){
	background-color: #f7f7f7;

}
ul{
	list-style-type: none;
	margin: 0;
	padding:0;
		
}
